<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <meta name="description" content="My Store">
    <meta name="author" content="Brian Rinaldi">
    <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.8/default/snipcart.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/styles.css?v=1.0">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-24 col-sm-12 col-md-8"><h1><a href="/">RemoteStore</a></h1></div>
        <div class="col-xs-12 col-sm-6 col-md-4 text-right"><a class="btn btn-primary checkout snipcart-checkout">Click here to checkout (<span class="snipcart-items-count"></span>)</a></div>
      </div>
    {{ block "main" . }}
    {{ end }}
    </div>
    <div hidden id="snipcart" data-api-key="ZjA1YjQ1MjItYTJlMy00YzdjLWE1NmQtZTM5MTU1YTVmYmM4NjM3MTgzNTAyMTkwNzkxNzEy"></div>
    <script src="https://cdn.snipcart.com/themes/v3.0.8/default/snipcart.js"></script>
  </body>
</html>